이상치 처리

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

df = pd.read_csv('../data/raw/Customer_Churn_Dataset_knn.csv')

In [4]:
# 함수화 하기.
def find_outliers(df, column_name, whis=1.5):
    """
    분위수 기준으로 이상치를 찾는 함수

    Args:
        df (pd.DataFrame): 데이터프레임
        column_name (str): 이상치를 찾을 컬럼명

    Returns:
        pd.Series: 이상치 값들
    """
    q1, q3 = df[column_name].quantile(q=[0.25, 0.75])
    iqr = q3 - q1
    iqr *= whis

    return df.loc[~df[column_name].between(q1 - iqr, q3 + iqr), column_name]

In [20]:
find_outliers(df, 'tenure')

Series([], Name: tenure, dtype: int64)

In [18]:
# df[df['InternetService'] == 'No']
# df[df['StreamingMovies'].str.contains('No')]
# df[df['StreamingTV'].str.contains('No')]
df[ (df['InternetService'] == 'No') & 
   ( 
       (df['StreamingTV'] != 'No internet service') 
       | (df['OnlineSecurity'] != 'No internet service') 
       | (df['OnlineBackup'] != 'No internet service')  
       | (df['DeviceProtection'] != 'No internet service') 
       | (df['TechSupport'] != 'No internet service') 
       | (df['StreamingTV'] != 'No internet service') 
       | (df['StreamingMovies'] != 'No internet service') 
    )]

Empty DataFrame
Columns: [Unnamed: 0, customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, numAdminTickets, numTechTickets, Churn]
Index: []

[0 rows x 24 columns]

In [21]:
df[ (df['InternetService'] == 'No') ].count()

Unnamed: 0          1526
customerID          1526
gender              1526
SeniorCitizen       1526
Partner             1526
Dependents          1526
tenure              1526
PhoneService        1526
MultipleLines       1526
InternetService     1526
OnlineSecurity      1526
OnlineBackup        1526
DeviceProtection    1526
TechSupport         1526
StreamingTV         1526
StreamingMovies     1526
Contract            1526
PaperlessBilling    1526
PaymentMethod       1526
MonthlyCharges      1526
TotalCharges        1526
numAdminTickets     1526
numTechTickets      1526
Churn               1526
dtype: int64

In [24]:
df[ (df['StreamingTV'] == 'No internet service') 
       & (df['OnlineSecurity'] == 'No internet service') 
       & (df['OnlineBackup'] == 'No internet service')  
       & (df['DeviceProtection'] == 'No internet service') 
       & (df['TechSupport'] == 'No internet service') 
       & (df['StreamingTV'] == 'No internet service') 
       & (df['StreamingMovies'] == 'No internet service') ].count()

Unnamed: 0          1526
customerID          1526
gender              1526
SeniorCitizen       1526
Partner             1526
Dependents          1526
tenure              1526
PhoneService        1526
MultipleLines       1526
InternetService     1526
OnlineSecurity      1526
OnlineBackup        1526
DeviceProtection    1526
TechSupport         1526
StreamingTV         1526
StreamingMovies     1526
Contract            1526
PaperlessBilling    1526
PaymentMethod       1526
MonthlyCharges      1526
TotalCharges        1526
numAdminTickets     1526
numTechTickets      1526
Churn               1526
dtype: int64

In [5]:
df.columns

Index(['Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'numAdminTickets', 'numTechTickets', 'Churn'],
      dtype='object')

결론 : 이상치 없음